<div class="center jumbotron">
  <h1>Welcome to MyRecipes App</h1>
  <p>
    This is the professional ruby on rails developer course on udemy
  </p>
  
  <%= link_to "Sign up now", "", class: "btn btn-large btn-success" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as a Guest User
    </h3>
    <p>
      Browse and view recipes as a guest and sign up later.
    </p>
    <%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as a Guest User
    </h3>
    <p>
      Browse and view recipes as a guest and sign up later.
    </p>
    <%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as a Guest User
    </h3>
    <p class="left">
      Browse and view recipes as a guest and sign up later.
    </p>
    <%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %>
  </div>
</div>