<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "RecipeBox", "/", class: "btn btn-large btn-success", id: "logo" %>
    <div class="nav-item">
      <%= link_to "link", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav-item">
      <%= link_to "link", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav-item">
      <%= link_to "link", "", class: "btn btn-default btn-warning" %>
    </div>
  </div>
</nav>